<!DOCTYPE html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/nav'); %>
  </header>
  <main class="container container-large-padding">
    <section class="section">
      <div class="columns">
        <div class="column  is-one-quarter">
          <img class="avatar-image" src=<%= author.profile_image_url || "/img/avatar.jpg" %> >
        </div>
        <div class="column">
          <div class="rows">
            <div class="row pb-2">
              <b><%= author.name %></b>
            </div>
            <div class="row pb-5">
              <a href="https://twitter.com/i/user/<%= author.id %>" target=_blank>
                <b><%= author.username %></b>
              </a>
            </div>
            <div class="row" style="text-align: end;">
              <%= thread.length %> tweets, 25/120/2020
            </div>
          </div>
        </div>
      </div>

    </section>

    <section>
      <% thread.forEach(tweet=> { %>
        <p>
          <%= tweet.text %>
          <% tweet.media.forEach(media=> { %>
            <img src=<%=media.url%> >
          <% }); %>
        </p>
        </br>
      <% }); %>
    </section>

  </main>
</body>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>

</html>
